.aktivitetsliste .info{
	padding: 0.5em;
}

.aktivitetsliste .valgt{
	font-weight:bold;
}

.dato .fjern-dato {
	cursor: pointer;
}

.aktivitet .ingress {
	padding: 2em;
}

.aktivitet .info {
	padding: 0em 1em;
}

.aktivitet .info h2 {
	margin-top: 2em;
}

.aktivitet .notevelger {
	margin-top: 3em;
	border-top: 3px solid white;
	padding: 2em;
}

.aktivitet .slettet,
.konsert .slettet {
	background: white;
	font-size: 200%;
	padding: 2em;
	margin: 1em;
	color: rgba(34, 41, 51, 1);
}

.aktivitetsliste a.din-gruppe {
	color: red !important;
	cursor: help;
}

.no-touch .aktivitetsliste .inline-sted {
	display: none;
}

.no-touch .aktivitetsliste .sted {
	display: table-cell;
}

.aktivitetsliste .sted {
	display: none;
}

.aktivitetsliste .inline-sted {
	font-size: 0.8em;
}
