.aktivitetsliste .info{
	background-color: #e2e2e2;
	padding: 0.5em;
}

.aktivitetsliste .valgt{
	font-weight:bold;
}

.aktivitetsliste-overskrift {
	display: inline-block;
}

.legg-til-aktivitet {
	float: right;
	display: inline-block;
}