
.dokumenter {
	margin: 2em auto;
	font-size: 1.1em;
}

.dokumenter .mapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: space-around;

	margin-top: 6em;
}

.dokumenter .header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: baseline;

	border-bottom: 3px solid white;
}

.dokumenter .add-files-and-folder {
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	padding: 2em;

	position: relative;

	display: none;
}

.dokumenter .add-folder .text-input {
	width: 15em;
}

.dokumenter .add-files-and-folder .close {
	font-size: 1.2em;
	position: absolute;
	top: 1em;
	right: 1em;
}

.dokumenter .dokument {
	font-size: 1.2em;
	position: relative;
	text-align: center;
	word-break: break-all;
	width: 9em;
	padding-bottom: 1.5em;
	text-align: center;
	margin: 1em 0.5em;
}

.dokumenter .dokument p {
	font-size: 1.2em;
	margin: 0em;
	padding-top: 0.5em;
}

.dokumenter .overskrift {
	width: 8em;
	text-align: center;
	word-break: break-all;
}

.dokumenter .overskrift i,
.dokumenter .dokument i {
	display: block;
	text-align: center;
	font-size: 2.5em;
}

.dokumenter .slett {
	position: absolute;
	top: 0px;
	right: 20%;
	font-size: 0.5em;
}

.dokumenter .button {
	font-size: 1.2em;
	padding: 0em;
	margin-top: 2em;
	margin-left: 2em;
}

.dokumenter .legg-til-knapp {
	font-size: 0.5em;
	margin-left: 3em;
}