.forum td {
	padding: 0.5em;
	border-bottom: 1px dotted black;
}

.forum textarea {
	width: 90%;
	min-height: 6em;
}

.forum .overskrift, .forum .overskrift a {
	padding-left: 0.5em;
}

.liten_tekst {
	font-size: 0.8em;
}

.ulest {
	background-color: #FFCCCC;
}

.forum .skrek-igjennom {
	text-decoration: line-through;
}

.forum-innlegg-liste .innlegg {
	margin-bottom: 1em;
	border: 1px solid rgba(41, 49, 61, 0.6);
	background-color: rgba(41, 49, 61, 1.0);
	padding: 1em 1em 0em 1em;
}

.forum-innlegg-liste .innlegg:before, .forum-innlegg-liste .innlegg:after {
	content: " ";
	display: table;
}

.forum-innlegg-liste ul {
	padding: 0;
}

.forum-innlegg-liste .innlegg:after {
	clear: both;
}

.forum-innlegg-liste .innlegg header {

}

.forum-innlegg-liste .innlegg article {
}

.forum-innlegg-liste .innlegg header .plassering {
	padding: 0;
	display: inline-block;
	float: right;
}

.forum-innlegg-liste .innlegg header .tools {
	display: inline-block;
	float: right;
}

.forum-innlegg-liste .innlegg header .tools .tool {
	margin-left: 0.5em;
}

.forum-innlegg-liste .innlegg .tekst {
	padding: 0.5em 0em 0.5em 0em;
	word-wrap: break-word;
}

.forum-innlegg-liste .innlegg a {
	color: inherit;
}

.forum .foto {
	width: 40px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
}

.forum .foto img {
	max-width: 40px;
	max-height: 40px;
}


.forum .navn {
	margin: 0;
	font-style: normal;
}

.forum .info {
	display: inline-block;
	vertical-align: top;
}

.forum .tekst {
	line-height: 1.3em;
	font-size: 1em;
}

.forum .paameldingsliste {
	padding: 1em;
	margin-bottom: 1em;
	background: #eaeaea;
}

.forum .paameldingsliste .kommentar {
	width: 100%;
}

.forum .nytt-innlegg {
	text-align: left;
	margin-top: 3em;
}

.forum .nytt-innlegg form {
	width: 100%;
}

.forum .nytt-innlegg textarea {
	width: 100%;
}

.forum .nytt-innlegg {
	width: 100%;
	text-align: left;
	padding: 0.5em;
}

.forum .nytt-innlegg .lagre {
	float: right;
	margin: 0.5em;
}

.forum.temaliste .tema {
	background: rgba(41, 49, 61, 0.6);
	padding: 0;
	color: white;
}

.forum.temaliste .tema:nth-of-type(even) {
	background: rgba(41, 49, 61, 1.0);
}

.forum.temaliste .tema:first-of-type {
	/*
	 border-top-left-radius: 10px 10px;
	 border-top-right-radius: 10px 10px;
	 */
	/*margin-top: 2em;*/
}

.forum.temaliste .overskrift {
	display: inline-block;
	font-size: 1.2em;
	font-style: normal;
	padding: 1em 0em 1em 1em;
	margin: 0;
	width: 50%;
}

.forum.temaliste .siste-post {
	display: inline-block;
	width: 40%;
	position: relative;
	top: 1em;
}

.forum .topplinje.tools {
	margin: 2em 0em 1em 0em;
	text-align: right;
}

.forum .topplinje.tools .tool {
	background: white;
	padding: 0.5em 1em;
	color: rgba(34, 41, 51, 1);
}

.forum.pagination {
	list-style: none;
	text-align: center;
	font-size: 1.1em;
	padding: 0;
}
.forum.pagination li {
	display: inline-block;
	padding: 0.5em;
	margin: 0.2em;
	border: 1px solid #eaeaea;
}

.forum.pagination li.aktiv {
	background-color: #eaeaea;
}

.forum.pagination li.aktiv a {
	color: rgba(34, 41, 51, 1);
}

.forum.pagination li.dotdotdot {
	border: 0px none;
}

.forum h2 {
	margin-top: 2em;
}

.forum-liste ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.forum-liste li {
	display: inline-block;
	padding: 0.5em 1em;
	margin: auto;
}

.forum-liste li.aktiv a {
	padding-bottom: 0.25em;
	border-bottom: 1px solid white;
}

.forum-liste a {
	text-decoration: none;
}

.forum.nytt-tema .liste-alternativer {
	display: none;
}

.forum.nytt-tema td:first-child {
	width: 30%;
}

.forum.nytt-tema textarea {
	width: 100%;
}

.forum.nytt-tema ul {
	list-style: none;
	margin: 1em 0em;
	padding: 0;
}

.forum.nytt-tema .flere-alternativer,
.forum.nytt-tema .fjern-alternativ {
	cursor: pointer;
}

.forum.nytt-tema .liste-alternativer input {
	max-width: 500px;
}