.internside .widget {
	border: 1px solid white;
	padding: 1em 2em;
	margin: 1em;
	display: inline-block;
	vertical-align: top;
}

.widget.markert {
	background-color: white;
}

.widget.markert, .widget.markert a {
	color: rgba(34, 41, 51, 1);
}

.komite ul {
	padding-left: 1em;
}

.komite .brukerlenke img {
	height: 1em;
}

.widget.profil {
	display: none;
	
	width: 13em;
	float: right;
	padding: 1em;
	
	border: none;
}

.widget.profil h3 {
	margin-top: 0em;
}

.widget.profil .brukerlenke img {
	width: 100%;
	height: auto;
	padding-bottom: 1em;
}

.widget.profil .brukerlenke span {
	display: inline-block;
}

.widget.profil .endre {
	margin: 0;
}

.footer .intern.bunn {
	text-align: center;
	color: white;
}

.footer .intern.bunn a {
	color: white;
}

.siste-nyheter .box:nth-child(odd) {
	background: #efefef;
}

.siste-nyheter .fancy-date {
	color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 1435px) {
	.halv-side-ved-stor-skjerm {
		padding: 1em;
		width: 50%;
		float: left;
	}

	.forum-liste ul {
		padding: 0;
	}
}

.halv-side-ved-stor-skjerm .innlegg {
	background: #efefef;
	border: 0 none;
}

.profilbilde {
	display: none; /* bare på desktop, ikke mobil */
}

.liten.profilbilde {
  height: 25px;
  vertical-align: middle;
}

li.profilbilde {
  position: relative;
}

.arkiv-valg {
	padding: 0;
	background-color: #efefef;
}

.profil-lenke {
  text-transform: none;
}

.profilbilde-valg li, .arkiv-valg li {
    padding: 0em 1em;
}

.profilbilde-valg a, .arkiv-valg a {
  cursor: pointer;
}

.profilbilde-valg li:not(:first-child) {
  border-top: 1px dotted #ccc;
}

.mobil.brukervalg {
	padding: 0;
}

.praktisk p {
	padding-left: 1em;
}

.praktisk h3 {
	margin-top: 2em;
}

.praktisk .submit {
	margin-top: 0.5em;
}

.styret-og-komiteer {
	margin-top: 4em;
}

.mobil.brukervalg .valg a {
	border: 1px solid gray;
	padding: 1em;
	margin: 0.5em;
	width: 10em;
	display: inline-block;
}

.forum.siste-forum h2 {
	margin: 0em 0em 1em 0em;
}

@media screen and (max-width: 1436px) {
	.halv-side-ved-stor-skjerm.forum.siste-forum h2 {
		margin-top: 2em;
	}
}

@media screen and (min-width: 800px) {
	.widget.profil {
		display: inline-block;
	}
	
	.profilbilde-valg, .arkiv-valg {
		display: none;
		position: absolute;
		
		line-height: 2.5em;
		text-align: left;
		background-color: white;
		padding: 0em;
		width: 11em;
		
		border: 1px solid #ccc;
	}
	
	.profilbilde {
		display: inline-block;
	}
	
	.footer .intern.bunn {
		display: none;	
	}
	
	.halv {
		width: 48%;
		display: inline-block;
		vertical-align: top;
	}
}

#bytt-bilde {
	display: inline-block;
	cursor: pointer;
	position: relative;
}

#bytt-bilde img {
	max-width: 200px;
	max-height: 200px;
}

#bytt-bilde .ikon {
	position: absolute;
	top: 1em;
	right: 1em;
	background: white;
	color: black;
	padding: 5px;
	border: 1px solid black;
}

#bytt-bilde .spinner {
	display: none;
	position: absolute;
	left: 35%;
	bottom: 25%;
	font-size: 4em;
}

.feilmeldingsliste .feil {
	margin: 1em;
	border: 1px solid white;
}

.feilmeldingsliste .feil .antall {
	font-size: 3em;
	display: inline-block;
	padding: 0.3em 0.5em;
}

.feilmeldingsliste .feil .fil,
.feilmeldingsliste .feil .sql,
.feilmeldingsliste .feil .query,
.feilmeldingsliste .feil .tid {
	display: inline-block;
	padding: 1em;
}