body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
 }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


input, textarea, select {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-size: 105%;
    padding: 0.5em;
    border: 1px solid gray;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Headland One", Georgia, serif;*/
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  line-height: 1.1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}

p.right {
	text-align: right;
}

.right {
	float: right;
}

nav li span, .meny, nav li a, .meny a {
  font-family: Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  font-weight: 200;
  font-size: 15px;
}

h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #002e40; }

h2 {
  margin-top: 10px;
  font-size: 28px; }

h4 {
  font-size: 20px;
  margin-bottom: 10px; }

a {
  text-decoration: none;
  cursor: pointer; }

.clearfix {
  clear: both;
}

ul {
  list-style: none; }

.reklame.stottemedlem {
  background: white;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 0.5em 1em;
  color: rgba(34, 41, 51, 1);
  background: rgba(255, 255, 255, 0.5);

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.header {
  margin: 0 auto;
  font-size: 6em;
  width: 4.3em; /*3.8*/
  text-align: center;
  background: rgba(255, 255, 255, 0.8);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  line-height: 0.5em;
  padding: 0.3em;
}

.title {
  text-transform: uppercase;
  color: #2a2829;
  font-weight: bold;
  line-height: 0.8em;
  padding-top: 0.2em;
}

.title .bispehaugen {
  font-size: 1em;
  letter-spacing: 0.01em;

}

.title .ungdomskorps {
  font-size: 0.6em;
  letter-spacing: 0.23em;

}

nav.top {
  position: fixed;
  top: 0px;
  left: 0px;
}

nav, .nav-container {
  text-align: center;
  width: 100%;
  z-index: 1000;
  height: 113px;
}
  nav ul {
    padding: 0px;
    margin: 0px auto; 
    background: white;
  }

  nav li, .meny {
    line-height: 113px;
    vertical-align: middle;
    display: block;
  }

  nav li span, nav li a {
    cursor: pointer;
  }

  .meny {
    cursor: pointer;
  }

  @media screen and (min-width: 740px) {
    .mobil {
      display: none;
    }

    nav li:first-of-type {
      margin-left: 0;
    }

    nav li {
      display: inline-block;
    }

  }

  @media screen and (max-width: 739px) {
    body {
      font-size: 13px;
    }

    .logo {
        width: 30%;
    }

    .header {
      font-size: 58%;
      width: 40em;
      padding: 2em 0em;
      width: 100%;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }

    nav, .nav-container {
      height: 3.5em;
    }

    nav.top {
      height: auto;
      background: white;
      background: rgba(1, 1, 1, 0.5);
    }

    nav ul {
      display: none;      
    }

    nav li, .meny {
      line-height: 3.5em;
    }

    .meny.vis, nav li:last-of-type {
      border-bottom: 1px solid black;
    }
  }

  @media screen and (min-width: 740px) and (max-width: 900px) {
    nav li span, nav li a {
      font-size: 0.8em;
    }
  }

  @media screen and (min-width: 1100px) {
    nav li {
      margin-left: 2em;
    }
    nav li span:hover, .meny:hover, nav li a:hover, .meny a:hover {
      color: rgba(34, 41, 51, 0.5);
      border-bottom: 2px solid;
    }
  }

    nav li span, nav li a {
      padding: 0.5em 1em 0.1em 1em;
    }

    nav li span, .meny, nav li a, .meny a {
      color: #777;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
    }

    nav li span.active, .meny.active, nav li a.active, .meny a.active {
      color: rgba(34, 41, 51, 1);
      border-bottom: 2px solid;
    }

.side {
  min-height: 420px;
  width: 100%;
  padding: 5em 2em;
}

.coverflow {
  background-repeat:no-repeat;
  background-position: 50% 0%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  height: 100%;
  text-align: center;
}

.success {
	color: #5cb85c;
}

.error {
	color: #d9534f;
}

.full {
  padding-left: 0;
  padding-right: 0;
}

.forside {
  background-image:url("../images/3.jpg");
}

.spilleoppdrag {
  background-image:url("../images/1.jpg");
}

  .side .content {
    margin: 0px auto;
    max-width: 1100px;
  }

  .side .content .banner ul {
    margin: 0;
    padding: 0;
  }

  .side .content .box {
    padding: 1em;
  }
  .side .content .banner {
    background: white;
    opacity: 0.95;
    border-radius: 5px;
  }
  
  	.nyhet, .nyhet p {
  		line-height: 1.5em;
		font-size: 1em;
  	}
  
	.nyhet .ingressbilde {
		text-align: center;
		padding: 0em 2em 2em 0em;
		
		
	}
	
	@media screen and (min-width: 900px) { 
		.nyhet .ingressbilde {
			float: left;
		}
	}
	
	.nyhet img {
		max-height: 400px;
		max-width: 100%;
		margin: 0 auto;
		
		
	}
	
	@media screen and (max-width: 700px) { 
		.nyhet img {
			max-height: initial;
		}
	}

  .news {
    clear: left;
    position: relative;
    padding: 1em 0em;
  }
  
  .news img {
  	max-width: 100%;
  }

  .news:nth-child(odd) {
  	background: #29313D;
  }

  .news .date {
    width: 5em;
    color: rgba(255,255,255,0.8);
    text-shadow: 0 1px 0 #000;
    text-align: center;
    float: left;
  }

    .news .month, .news .weekday {
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .news .day {
        font-size: 2em;
        font-weight: bold;
        margin: -5px 0;
    }

    .news .year {
        font-size: 0.9em;
        font-weight: bold;
    }

  .news .bilde-og-innhold {
    padding-left: 5em;
    width: 100%;
    padding-right: 4em;
  }

  .news .bilde {
    float: left;
    width: 200px;
    text-align: center;
  }

  .news .bilde img {
    background-color: white;
    border: 1px solid #c6c6c6;
    max-width: 125px;
    padding: 1px;
  }

  .news .innhold {
    width: 100%;
    padding-left: 200px;
    vertical-align: top;
  }

  .news .innhold h4 {
      margin: 0px;
  }

  .news .innhold .ingress {
    line-height: 1.5em;
  }

  .news .neste-pil {
    font-size: 4em;
    position: absolute;
    right: 0.2em;
    top: 35%;
  }
  .news .tilbake-pil {
    font-size: 4em;
    position: absolute;
    left: 0.2em;
    top: 35%;
  }

  @media screen and (max-width: 739px) {
    .side.forside {
      padding: 3em 0em;
    }

    .news .bilde {
      width: 100%;
    }

    .news .innhold {
        padding-left: 0px;
        padding-top: 1em;
        clear: left;
    }
  }

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

    .side .content a {
      color: #002e40; }

.side:nth-child(even) {
  background-color: rgba(34, 41, 51, 1);
  color: white; }
  .side:nth-child(even) a {
    color: white; }

.side:nth-child(even) table {
	color: #002e40; }
  .side:nth-child(even) table a {
    color: #002e40; }
    
.side:nth-child(even).side-invertert table {
	color: white; }
  .side:nth-child(even).side-invertert table a {
    color: white; }
    
.side.side-invertert table {
	background-color: rgba(34, 41, 51, 1);
	color: white;
	background-color: inherit;
}

.side.side-invertert table a {
	color: white;
}

table {
	width: 100%;
}

table {
	border-spacing: 0;
    border-collapse: collapse;
}

table th {
	text-align: left;
	padding: 0.5em 1em;
}

table thead tr {
	background-color: white;
}

table td {
  padding: 0.5em 1em;
}

.side-invertert table thead th {
	background-color: rgba(41, 49, 61, 1); }
}

.aktivitetsliste tbody tr:nth-child(even) {
  background-color: rgba(245, 245, 245, 1);
}

.side-invertert table tbody tr:nth-child(even) {
	background-color: rgba(41, 49, 61, 0.6); } /*29313D*/
.side-invertert table tbody tr:nth-child(odd) {
	background-color: rgba(41, 49, 61, 0.3); }

table .aarskille {
	margin: 0;
}

.side-invertert h1 {
	color: white;
}

.skille {
	background-color: rgba(34, 41, 51, 1);
	height: 2em;
}

.medlemsliste .medlem:nth-child(even) {
  background-color: rgba(245, 245, 245, 1);
}

.side-invertert .medlemsliste .medlem:nth-child(even) {
	background-color: rgba(41, 49, 61, 0.6); } /*29313D*/
.side-invertert .medlemsliste .medlem:nth-child(odd) {
	background-color: rgba(41, 49, 61, 0.3); }

.medlemsliste h3 {
	padding-top: 1.5em;
}

.medlemsliste .medlem {
	padding: 0.8em 1.5em;
}

	.medlemsliste .navn {
		display: inline-block;
	}
	
	.medlemsliste .tag {
		display: inline-block;
		white-space: nowrap;
		margin-left: 0.5em;
		padding: 0.2em 0.5em;
		
		border-radius: 5px;
	}
	
	.medlemsliste .tag.gruppeleder {
		background-color: rgba(41, 49, 61, 1);
		color: white;
	}
	
	.medlemsliste .tag.permisjon {
		background-color: #aaa;
		color: white;
	}
	
	.medlemsliste .epost-lenke {
		display: inline-block;
		white-space: nowrap;
		padding-left: 1em;
	}
	
	.medlemsliste .verktoy, .medlemsliste .telefon {
		display: inline-block;
		float: right;
		margin-left: 1em;
	}

.bli-medlem .bli-medlem, .bli-medlem .stottemedlem {
    width: 100%;
}

@media screen and (min-width: 600px) {
	.bli-medlem .bli-medlem, .bli-medlem .stottemedlem {
	  	float: left;
    	width: 50%;
	}
	
	.bli-medlem .stottemedlem {
		padding-left: 2em;
	}
}

.bli-medlem .stottemedlem ul {
	list-style: circle;
}

.bli-medlem input[type=text], .bli-medlem textarea {
  width: 100%;
}

.bli-medlem .content {
  text-align: left;
}

.content .album {
    display: inline-block;
    text-align: center;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.album-bilde {
    width: 180px;
}

.album-bilde-right {
    width: 180px;
    float: right;
    margin: 0 0 15px 15px;
}

.album-bilde-center {
    width: 100px;
    float: center;
}

.album-bilde-left {
    width: 180px;
    text-align: left;
    margin: 0 0 15px 0;
}

.content .album.galleri {
    width: 400px;
    margin-right: 60px;
    margin-left: 60px;
}

.content .album.liten, .content .album.liten .album-bilde {
    width: 100px;
    margin: 0px;
    padding: 0px;
}

.content .album .album-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}

.content .album.middels, .content .album.middels .album-bilde {
    width: 100px;
    margin: 10px;
    padding: 0px;
}

#liten_profil {
    clear: both;
    text-align: left;
}

#liten_profil .handlinger {
    margin: 1em 0.5em;
    padding: 0;
}

.handlinger li {
    margin-bottom: 0.5em;
}

.lite_bilde {
    height: 100px;
    max-width: 100px;
}

.profil_bilde {
    height: 50px;
    max-width: 50px;
    
    position: relative;
    bottom: 1.5em;
    left: 3em;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.errors {
    border: 1px solid red;
    background: #FF9494;
    color: white;
    padding: 1em 2em;
    font-size: 150%;
}

.svg-icon path {
	fill: white;
}

@media screen and (min-width: 600px) {
	.kontakt-float {
		float: left;
		width: 50%;
	}
}

.side.kontakt {
	padding-bottom: 2em;
	
	display: -webkit-flex;
	display: flex;
}

.besok-oss {
	color: rgba(34, 41, 51, 1);
	background-color: white;
	padding: 1em 2em;
	margin: 3em auto 0em;
	width: 20em;
	text-align: center;
}

.besok-oss .pil-ned {
	width: 0; 
	height: 0; 
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	
	border-top: 2em solid white;
	
	position: relative;
	top: 3em;
	left: 6em;
}

footer.map {
    width: 100%;
    height: 400px;
    background-color: #CCC;
}
