# Minute   Hour   Day of Month       Month          Day of Week        Command  
# (0-59)  (0-23)     (1-31)    (1-12 or Jan-Dec)  (0-6 or Sun-Sat) 

# Denne crontab filen ligger i Bispehaugen.no repoet under skript/crontab

# Send ut kakebakeepost, en gang i timen
0 * * * * php /var/www/prod/skript/send_ut_kakebaker_epost.php
10 * * * * php /var/www/prod/skript/send_ut_slagverkhjelp_epost.php
