# Minute   Hour   Day of Month       Month          Day of Week        Command  
# (0-59)  (0-23)     (1-31)    (1-12 or Jan-Dec)  (0-6 or Sun-Sat) 

# Send ut kakebakeepost, en gang om dagen kl. 16
0 16 * * * php /var/www/prod/skript/send_ut_kakebake_epost.php
