body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4{
  /*font-family: "Headland One", Georgia, serif;*/
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}
nav li a {
  font-family: Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #002e40; }

h2 {
  margin-top: 10px;
  font-size: 28px; }

h4 {
  font-size: 20px;
  margin-bottom: 10px; }

a {
  cursor: pointer; }

ul {
  list-style: none; }

.title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 6em;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(34, 41, 51, 1);
  
}

.stottemedlem {
  background: white;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 0.5em 1em;
  color: rgba(34, 41, 51, 1);
  background: rgba(255, 255, 255, 0.5);

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

img.logo-img {
  position: relative;
  right: 100%;
}

.coverflow {
  background-repeat:no-repeat;
  background-size:cover;
  height: 100%;
  text-align: center;
}

.forside {
  background-image:url("3.jpg");
}

.spilleoppdrag {
  background-image:url("3.jpg");
}

.nav-container {
  /*background: rgba(0, 46, 64, 1)*/
  background: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
}

nav {
  text-align: center;
  width: 1100px;
  margin: 0px auto; }
  nav ul {
    padding: 0px;
    line-height: 100%;
  }
  nav li {
    width: 16%;
    line-height: 100%;
  vertical-align: middle;
    display: inline-block; }
    nav li.logo {
      width: 6%;
      }
    nav li.first {
      width: 8%;
      }
    nav li a {
      font-size: 15px;
      color: #777;
      text-transform: uppercase;
      letter-spacing: 1px;
      }
    nav li a.bli-medlem {
      font-size: 16px;
    }
    nav li a.active {
      color: rgba(34, 41, 51, 1); }
  @media screen and (max-width: 1100px) {
    nav {
      width: 90%; }
      nav li a {
        font-size: 18px; } }

section {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 800px;
  width: 100%; }
  section .content {
    margin: 0px auto;
    max-width: 1100px;
  }

  section .content .banner ul {
    margin: 0;
    padding: 0;
  }

  section .content .box {
    padding: 1em;
  }
  section .content .banner {
    background: white;
    opacity: 0.95;
    border-radius: 5px;
  }

  .image {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  .innhold {
    display: inline-block;
    width: 79%;
    vertical-align: top;
  }

  .innhold h4 {
      margin: 0px;
  }

  .news img {
    padding: 10px;
    background-color: white;
    border: 1px solid #c6c6c6;
  }

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

    @media screen and (max-width: 1100px) {
      section .content {
        width: 90%;
      } 

      nav li {
        display: block;
        width: 100%;
        margin: 1em;
      }

      section {
        padding-top: 250px;
      }
    }
    section .content a {
      color: #002e40; }

section:nth-child(odd) {
  background-color: rgba(34, 41, 51, 1);
  color: white; }
  section:nth-child(odd) a {
    color: white; }

tbody tr:nth-child(even) {
  background-color: rgba(245, 245, 245, 1);
}
thead tr {
  background-color: #efefef;
}

td {
  padding: 0.5em;

}


.kontakt {
  background-color: rgba(34, 41, 51, 0.5);
  color: white;
  min-height: 530px;
}

.korpset {
  padding-bottom: 0px;
}
