body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
 }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h1, h2, h3, h4{
  /*font-family: "Headland One", Georgia, serif;*/
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}
nav li a, .meny {
  font-family: Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #002e40; }

h2 {
  margin-top: 10px;
  font-size: 28px; }

h4 {
  font-size: 20px;
  margin-bottom: 10px; }

a {
  cursor: pointer; }

ul {
  list-style: none; }

.stottemedlem {
  background: white;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 0.5em 1em;
  color: rgba(34, 41, 51, 1);
  background: rgba(255, 255, 255, 0.5);

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.header {
  margin: 0 auto;
  font-size: 6em;
  width: 3.8em;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  line-height: 0.5em;
  padding: 0.3em;
}

.title {
  text-transform: uppercase;
  color: #2a2829;
  font-weight: bold;
  line-height: 0.8em;
  padding-top: 0.2em;
}

.title .bispehaugen {
  font-size: 1em;
  letter-spacing: 0.01em;

}

.title .ungdomskorps {
  font-size: 0.6em;
  letter-spacing: 0.23em;

}

.coverflow {
  background-repeat:no-repeat;
  background-position: 50% 0%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  height: 100%;
  text-align: center;
}

.forside {
  background-image:url("3.jpg");
}

.spilleoppdrag {
  background-image:url("3.jpg");
}

nav.top {
  position: fixed;
  top: 0px;
  left: 0px;
}

nav, .nav-container {
  text-align: center;
  width: 100%;
  z-index: 1000;
  height: 113px;

  }
  nav ul {
    padding: 0px;
    margin: 0px auto; 
    background: white;
  }
  nav li, .meny {
    line-height: 113px;
    vertical-align: middle;
    display: block;
  }

  .meny {
    cursor: pointer;
  }

  @media screen and (min-width: 740px) {
    .mobil {
      display: none;
    }

    nav li:first-of-type {
      margin-left: 0;
    }

    nav li {
      display: inline-block;
    }

  }

  @media screen and (max-width: 739px) {
    body {
      font-size: 13px;
    }

    .logo {
        width: 30%;
    }

    .header {
      font-size: 58%;
      width: 40em;
      padding: 2em 0em;
      width: 100%;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }

    nav, .nav-container {
      height: 3.5em;
    }

    nav.top {
      height: auto;
      background: white;
    background: rgba(1, 1, 1, 0.5);

    }

    nav ul {
      display: none;      
    }

    nav li, .meny {
      line-height: 3.5em;
    }

    .meny.vis, nav li:last-of-type {
      border-bottom: 1px solid black;
    }
  }

  @media screen and (min-width: 740px) and (max-width: 900px) {
    nav li a {
      font-size: 0.8em;
    }
  }

  @media screen and (min-width: 1100px) {
    nav li {
      margin-left: 2em;
    }
    nav li a:hover, .meny:hover {
      color: rgba(34, 41, 51, 0.5);
      border-bottom: 2px solid;
    }
  }

    nav li a {
      padding: 0.5em 1em 0.1em 1em;
    }

    nav li a, .meny {
      color: #777;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
    }

    nav li a.active, .meny.active {
      color: rgba(34, 41, 51, 1);
      border-bottom: 2px solid;
    }
    /*
  @media screen and (max-width: 1100px) {
    nav {
      width: 90%; }
      nav li a {
        font-size: 18px; } }
        */

section.side {
  padding: 5em 2em;
  min-height: 420px;
  width: 100%;
}

  section .content {
    margin: 0px auto;
    max-width: 1100px;
  }

  section .content .banner ul {
    margin: 0;
    padding: 0;
  }

  section .content .box {
    padding: 1em;
  }
  section .content .banner {
    background: white;
    opacity: 0.95;
    border-radius: 5px;
  }

  .image {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  .innhold {
    display: inline-block;
    width: 79%;
    vertical-align: top;
  }

  .innhold h4 {
      margin: 0px;
  }

  .news img {
    padding: 10px;
    background-color: white;
    border: 1px solid #c6c6c6;
  }

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
/*
    @media screen and (max-width: 1100px) {
      section .content {
        width: 90%;
      } 


      nav li {
        display: block;
        width: 100%;
        margin: 1em;
      }

      section {
        padding-top: 250px;
      }
    }
          */
    section .content a {
      color: #002e40; }

section:nth-child(odd) {
  background-color: rgba(34, 41, 51, 1);
  color: white; }
  section:nth-child(odd) a {
    color: white; }

tbody tr:nth-child(even) {
  background-color: rgba(245, 245, 245, 1);
}
thead tr {
  background-color: #efefef;
}

td {
  padding: 0.5em;

}


.kontakt {
  background-color: rgba(34, 41, 51, 0.5);
  color: white;
  min-height: 530px;
}

.korpset {
  padding-bottom: 0px;
}
