body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
 }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h1, h2, h3, h4{
  /*font-family: "Headland One", Georgia, serif;*/
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}
nav li span, .meny {
  font-family: Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  font-weight: 200;
  font-size: 15px;
}

h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #002e40; }

h2 {
  margin-top: 10px;
  font-size: 28px; }

h4 {
  font-size: 20px;
  margin-bottom: 10px; }

a {
  cursor: pointer; }

.clearfix {
  clear: both;
}

ul {
  list-style: none; }

.reklame.stottemedlem {
  background: white;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 0.5em 1em;
  color: rgba(34, 41, 51, 1);
  background: rgba(255, 255, 255, 0.5);

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.header {
  margin: 0 auto;
  font-size: 6em;
  width: 4.3em; /*3.8*/
  text-align: center;
  background: rgba(255, 255, 255, 0.8);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  line-height: 0.5em;
  padding: 0.3em;
}

.title {
  text-transform: uppercase;
  color: #2a2829;
  font-weight: bold;
  line-height: 0.8em;
  padding-top: 0.2em;
}

.title .bispehaugen {
  font-size: 1em;
  letter-spacing: 0.01em;

}

.title .ungdomskorps {
  font-size: 0.6em;
  letter-spacing: 0.23em;

}

nav.top {
  position: fixed;
  top: 0px;
  left: 0px;
}

nav, .nav-container {
  text-align: center;
  width: 100%;
  z-index: 1000;
  height: 113px;

  }
  nav ul {
    padding: 0px;
    margin: 0px auto; 
    background: white;
  }
  nav li, .meny {
    line-height: 113px;
    vertical-align: middle;
    display: block;
  }

  nav li span {
    cursor: pointer;
  }

  .meny {
    cursor: pointer;
  }

  @media screen and (min-width: 740px) {
    .mobil {
      display: none;
    }

    nav li:first-of-type {
      margin-left: 0;
    }

    nav li {
      display: inline-block;
    }

  }

  @media screen and (max-width: 739px) {
    body {
      font-size: 13px;
    }

    .logo {
        width: 30%;
    }

    .header {
      font-size: 58%;
      width: 40em;
      padding: 2em 0em;
      width: 100%;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }

    nav, .nav-container {
      height: 3.5em;
    }

    nav.top {
      height: auto;
      background: white;
    background: rgba(1, 1, 1, 0.5);

    }

    nav ul {
      display: none;      
    }

    nav li, .meny {
      line-height: 3.5em;
    }

    .meny.vis, nav li:last-of-type {
      border-bottom: 1px solid black;
    }
  }

  @media screen and (min-width: 740px) and (max-width: 900px) {
    nav li span {
      font-size: 0.8em;
    }
  }

  @media screen and (min-width: 1100px) {
    nav li {
      margin-left: 2em;
    }
    nav li span:hover, .meny:hover {
      color: rgba(34, 41, 51, 0.5);
      border-bottom: 2px solid;
    }
  }

    nav li span {
      padding: 0.5em 1em 0.1em 1em;
    }

    nav li span, .meny {
      color: #777;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
    }

    nav li span.active, .meny.active {
      color: rgba(34, 41, 51, 1);
      border-bottom: 2px solid;
    }

section.side {
  min-height: 420px;
  width: 100%;
  padding: 5em 2em;
}

section.coverflow {
  background-repeat:no-repeat;
  background-position: 50% 0%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  height: 100%;
  text-align: center;
}

section.full {
  padding-left: 0;
  padding-right: 0;
}

section.forside {
  background-image:url("3.jpg");
}

section.spilleoppdrag {
  background-image:url("3.jpg");
}

  section .content {
    margin: 0px auto;
    max-width: 1100px;
  }

  section .content .banner ul {
    margin: 0;
    padding: 0;
  }

  section .content .box {
    padding: 1em;
  }
  section .content .banner {
    background: white;
    opacity: 0.95;
    border-radius: 5px;
  }

  .news {
    clear: left;
    cursor: pointer;
    position: relative;
  }

@media screen and (min-width: 1025px) {
  .news:hover {
    background: #29313D;
  }
}

  .news .date {
    width: 5em;
    color: rgba(255,255,255,0.8);
    text-shadow: 0 1px 0 #000;
    text-align: center;
    float: left;
  }

    .news .month, .news .weekday {
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .news .day {
        font-size: 2em;
        font-weight: bold;
        margin: -5px 0;
    }

    .news .year {
        font-size: 0.9em;
        font-weight: bold;
    }

  .news .bilde-og-innhold {
    padding-left: 5em;
    width: 100%;
    padding-right: 4em;
  }

  .news .bilde {
    float: left;
    width: 200px;
    text-align: center;
  }

  .news .bilde img {
    background-color: white;
    border: 1px solid #c6c6c6;
    max-width: 200px;
  }

  .news .innhold {
    width: 100%;
    padding-left: 200px;
    vertical-align: top;
  }

  .news .innhold h4 {
      margin: 0px;
  }

  .news .innhold .ingress {
    line-height: 1.5em;
  }

  .news .neste-pil {
    font-size: 4em;
    position: absolute;
    right: 0.2em;
    top: 35%;
  }
  .news .tilbake-pil {
    font-size: 4em;
    position: absolute;
    left: 0.2em;
    top: 35%;
  }

  @media screen and (max-width: 739px) {
    section.side.forside {
      padding: 3em 0em;
    }

    .news .bilde {
      width: 100%;
    }

    .news .innhold {
        padding-left: 0px;
        padding-top: 1em;
        clear: left;
    }
  }

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

    section .content a {
      color: #002e40; }

section.side:nth-child(odd) {
  background-color: rgba(34, 41, 51, 1);
  color: white; }
  section.side:nth-child(odd) a {
    color: white; }

.tabell tbody tr:nth-child(even) {
  background-color: rgba(245, 245, 245, 1);
}
.tabell thead tr {
  background-color: #efefef;
}

.tabell td {
  padding: 0.5em;

}

section.bli-medlem .bli-medlem, section.bli-medlem .stottemedlem{
  float: left;
  width: 50%;
}

.bli-medlem input[type=text], .bli-medlem textarea {
  width: 100%;
}

section.bli-medlem .content {
  padding-top: 10%;
  text-align: left;
}

section.korpset .kontakt {
  background-color: rgba(34, 41, 51, 0.5);
  color: white;
  min-height: 13em;
  padding: 1em 0 0 0;
}

section.korpset .content {
  padding-bottom: 2em;
}

section.side.korpset {
  padding-bottom: 0;
  margin-bottom: 0;
}

section.popup {
  opacity: 0;
  position: fixed;
  background: white;
  left: 2000px;
  
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;

  z-index: -1;

  padding: 3em;
  background-color: rgba(34, 41, 51, 1);
  color: white;

  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

section.popup.vis {
  opacity: 1;
  z-index: 10000;
  left: 0px;
  bottom: 0px;
}